body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    padding: 20px;
}

p {
    background-color: pink;
    font-size: 1em;
    padding: 10px;

}

p:hover {
    background-color: green;
}



p:hover::first-letter{
  font-size: 2em;
  font-weight: bold;

}