* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: "Poppins", sans-serif;
}


.card {
    display: flex;
    padding: 3em 1em 2em 2em;
    flex-direction: row;
    border-radius: 1em;
    width: 95vw;
    height: 90%;
    background-color: grey;
}

.card-left {
    padding: 0.5em;
    margin-right: 1em;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

img {
    max-width: 500px;
    min-width: 300px;
}

.sizes-container {}

.size-label {
    font-size: 2vw;
    text-transform: uppercase;
}

.sizes {
    padding-block: 0.2em;
    display: flex;
    flex-direction: row;
}

.size {
    width: 2.6em;
    height: 2.6em;
    text-align: center;
    align-content: center;
    border: 1px solid black;
    margin-right: 1em;
    font-size: 1.5vw;
}

.card-right {
    padding: 0.2em;
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.product-category {
    font-size: 1.25vw;
}

.product-title {
    font-size: 2.5vw;
}

.product-price {
    font-size: 3vw;
    line-height: 1.2em;
}

.product-description {
    text-transform: lowercase;
    margin-top: 1rem;
    font-size: 1.6vw;
}

.finalize {
    
    
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.add-to-cart-button {
    bottom: 2em;
    position: fixed;
    width: 90%;
    background-color: black;
    color: white;
    padding: 0.8em;
    font-size: 1.5vw;
    text-align: center;
}

.dropdown-button {
    bottom: 2em;
    position: fixed;
    width: 10%;
    background-color: black;
    color: white;
    padding: 0.5em;
    font-size: 2vw;
    text-align: center;
}

.size:hover {
    background-color: black;
    color: white;
}