:root {
    --font-color: white;
    --random-color: rgb(67, 157, 67);
    --body: rgb(237, 235, 235);
    --base-spacing: 1rem;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--body);
    overflow-x: hidden;
}

.john>img {
    width: 2.1875rem;
    border-radius: 50%;
}

.john {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.25rem 0.625rem;
}

.john h4 {
    margin-right: 6.25rem;
}

.john .dropdown-icon {
    width: 1.1875rem;
}

.logo-section {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 0.625rem;
}

aside {
    width: 18.75rem;
    color: var(--font-color);
    height: 100vh;
    padding: 1.25rem;
    position: fixed;
    background-image: url('../final project-css/images/sidebar-1.jpg');
    background-size: cover;
}

aside div {
    cursor: pointer;
}

aside::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

aside * {
    position: relative;

}

.listed-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    margin-bottom: 0.625rem;
}

aside .listed-items:hover {
    background-color: rgba(255, 255, 255, 0.164);
}

.start-group {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.text {
    font-size: 0.875rem;
    margin: 0;
}

main {
    padding: 1.25rem;
    margin-left: 18.75rem;
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    overflow-y: scroll;
    width: 80vw;
}

.allsections {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.allsections>section {
    height: 20rem;
    background-color: var(--font-color);
    border-radius: 0.625rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 1.5625rem;
    opacity: 0.5;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.header-right>ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1.5625rem;
}

.header-right ul li:first-child {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.circle {
    cursor: pointer;
    padding: 0.625rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0.1875rem 0.5rem;
    display: flex;
    align-items: center;
    transition: 0.5s;
    background-color: var(--font-color);
}

.circle:hover {
    box-shadow: rgba(0, 0, 0, 0.40) 0px 0.1875rem 1.25rem;
}

#search {
    border: none;
    padding: 0.4375rem 0;
    border-bottom: 0.125rem solid rgb(186, 186, 186);
    transition: 0.5s;
}

#search:focus {
    outline: none;
    border-bottom: 0.125rem solid rgb(143, 4, 125);
}

header h2 {
    font-family: sans-serif;
    color: #626368;
}

.hamburger {
    display: none;
}

.statistics {
    display: grid;
    background-color: var(--body) !important;
    grid-template-columns: 1fr 1fr;
    gap: 1.6875rem;
}

.statistics>div {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 0.625rem;
    padding: 1.25rem;
    height: 10rem;
}

.orange-box,
.pink-box,
.green-box,
.blue-box {
    padding: 1.25rem;
    width: fit-content;
    position: absolute;
    top: -1.125rem;
    left: 0.8125rem;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.40) 0px 0.1875rem 1.25rem;
}

.oneBox,
.twoBox,
.threeBox,
.fourBox {
    position: relative;
}

.pink-box {
    background-color: rgb(245, 70, 99);
}

.blue-box {
    background-color: royalblue;
}

.orange-box {
    background-color: rgb(248, 87, 28);
}

.more-space {
    display: flex;
    align-items: center;
    margin-top: 1.25rem;
}

.greyColor {
    color: gray;
}

.bookings {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.bookings .number {
    font-size: 1.875rem;
}

.notification {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0.3125rem 0.9375rem;
    border-radius: 0.3125rem;
    padding: 0.625rem;
    background-color: white;
    width: 18.75rem;
    position: absolute;
    right: 5.5rem;
    top: 3.6875rem;
    display: none;
    z-index: 999;
}

.notify:hover .notification {
    display: block;
}

.notification ul {
    list-style-type: none;
}

.notification ul li {
    padding: 0.625rem;
    border-radius: 0.3125rem;
    transition: 0.5s;
}

.notification ul li:hover {
    background-color: red;
    color: white;
}

.notify-num {
    position: absolute;
    background-color: red;
    color: white;
    padding: 0.1875rem 0.375rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    z-index: 100;
    font-size: 0.4375rem;
    top: 1.375rem;
    right: 5.1875rem;
}

.maps {
    position: relative;
}

.maps-wrapper {
    display: flex;
    justify-content: space-between;
}

.map iframe {
    width: 50rem;
    height: 14.375rem;
    margin: -2.5rem 0.625rem 0 0;
}

.green-box {
    background-color: var(--random-color);
}

.global {
    margin: 0.8125rem 6.25rem 0 6.25rem;
    font-size: 1.875rem;
}

.countries {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 0.625rem;
}

.country-list {
    display: flex;
    padding: 0.625rem;
    justify-content: space-between;
    align-items: center;
}

.border-bottom {
    border-bottom: 0.00625rem solid rgb(221, 218, 218);
    width: 18.75rem;
}

.listing {
    display: flex;
    margin-top: 2.8125rem;
}

.boxes .card {
    width: 18.75rem;
    border-radius: 0.625rem;
    margin-top: -3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.875rem;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 2;
    opacity: 1;
}

.boxes .card:hover {
    transform: translateY(-1.25rem);
}

.sub-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
    position: absolute;
    left: 8.4375rem;
    top: 8.25rem;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.sub-images:hover {
    pointer-events: auto;
}

.boxes .card:hover+.sub-images {
    z-index: 2;
    opacity: 2;
    pointer-events: auto;
}

.boxes {
    background-color: var(--body);
    display: flex;
    justify-content: space-between;
    gap: 1.875rem;
}

.box {
    border-radius: 0.625rem;
    background-color: white;
    width: 22.5rem;
    margin: 0.3125rem;
    height: 23.125rem;
    position: relative;
    z-index: 9;
}

.card-info {
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card-info span {
    margin-bottom: 0.625rem;
}

.price {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0.625rem 0 0.625rem;
}

.price img {
    width: 1.0625rem;
    height: 1.0625rem;
}

.price .loca {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-container {
    margin-top: 2.5rem;
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
}

.footer-navs span {
    margin-right: 0.9375rem;
}

.footer-navs {
    display: flex;
}

.footer-navs span {
    margin-right: 15px;
}

.footer-navs a {
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    aside {
        display: none;
    }

    main {
        margin-left: 0px;
        width: 100vw;
    }

    body {
        grid-template-columns: 1fr;
    }

    .circle {
        display: none;
    }

    .header-right ul {
        display: none;
    }

    .allsections>section {
        height: 32em;
    }

    .hamburger {
        display: block;
    }

    .maps-wrapper {
        display: block;
    }

    .border-bottom {
        width: 100%;
    }

    .map {
        width: 300em;
    }

    .statistics {
        display: grid;
        width: 45.2em;
        grid-template-columns: repeat(2, 1fr);

    }

    .map iframe {
        width: 44.2em;
    }

    .listing {
        margin-top: 300px;
    }

    .box {
        width: 45em;
        height: 40em;
    }

    .boxes {
        display: grid;
        grid-template-columns: 1fr;
        gap: 9em;
        width: 45em;


    }

    .boxes .card {
        width: 40em;

    }

    .footer-container {
        margin-bottom: 10em;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    aside {
        display: none;
    }

    body {
        grid-template-columns: 1fr;
    }

    main {
        margin-left: 0px;
        width: 100vw;
    }

    .hamburger {
        display: block;
    }

    .listed-items {
        display: none;
    }

    .circle {
        display: none;
    }

    #search {
        display: none;
    }
}