body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 1em;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-wrap: wrap;
    background-color: aquamarine;
    border: 2px solid yellow;
    width: 30%;
    align-items: center;
    height: 400px;
    justify-content: space-around;
    margin-top: 3em;


}

.item {
    background-color: rgb(230, 127, 236);
    padding: 2em;
    border-radius: 20px;
    color: white;
    width: 70%;
    
}